<!DOCTYPE html>
<html lang="en" xmlns:th="http:/thymeleaf">
<head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!--Заголовок страницы-->
<div class="col-sm-12 p-2 bg-dark text-white ">
    <a class="font-weight-bold text-white" th:text="${user.email}">Email </a>
    <a> with role:</a>

    <a th:each="role : ${user.getRoles()}">
        <a th:text="${role.getNoPrefix()}">Roles</a>
    </a>
    <a th:href="@{/logout}" class="float-right text-secondary" > Logout </a>
</div>

<!--Конец заголовка-->
<!--Содержимое страницы-->
<div class="container-fluid bg-light">
    <div class="row">
        <!--Кнопки перехода admin-user -->
        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <br/>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <!--Конец блока перехода admin-user-->
        <!--<Блок Вкладок таблицы и добавления нового пользователя-->
        <div class="col-sm-10 bg-light">
            <br>
            <h1>Admin panel</h1>
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="table"onclick="return show('table','new_user');">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="new_user" onclick="return show('new_user','table');">New user</a>
                    </li>
                </ul>
                <!--Таблица-->
                <div class="tab-content">
                    <div class="tab-pane table-striped container-fluid active" id="table">
                        <div class="row">
                            <div class="col border bg-light">
                                <p><h5>All users</h5></p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col border bg-white">
                                <br>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:utext="${user.id}"></td>
                                        <td th:utext="${user.name}"></td>
                                        <td th:utext="${user.surname}"></td>
                                        <td th:utext="${user.username}"></td>
                                        <td th:utext="${user.email}"></td>
                                        <td> <a th:each="role : ${user.getRoles()}">
                                            <a th:text="${role.getNoPrefix()}"></a>
                                        </a>
                                        </td>
                                        <!--Изменение пользователя-->
                                        <td>
                                            <button type="button" class="btn btn-info"
                                                    data-toggle="modal"
                                                    th:data-target="${'#update' + user.id}">Edit
                                            </button>

                                            <div class="modal fade" th:id="${'update' + user.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form th:action="@{/admin/update/{id}(id=${user.id})}"
                                                              th:object="${users}" th:method="POST">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit user</h4>
                                                                <button type="button" class="close" data-dismiss="modal">×
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group row justify-content-center text-center">
                                                                    <div class="col-sm-6">

                                                                        <strong><label for="Id">ID </label></strong>
                                                                        <input type="number" class="form-control"
                                                                               th:value="${user.id}" id="Id" name="id"
                                                                               readonly>
                                                                        <br/>

                                                                        <strong><label for="First Name">Username</label></strong>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.name}" id="First Name"
                                                                               name="name">
                                                                        <br/>

                                                                        <strong><label for="Last name">Lastname</label></strong>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.surname}" id="Last name"
                                                                               name="surname">
                                                                        <br/>

                                                                        <strong><label for="Username">Username</label></strong>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.username}" id="Username"
                                                                               name="Username">
                                                                        <br/>

                                                                        <strong><label for="Email">Email</label></strong>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.email}" id="Email"
                                                                               name="email">
                                                                        <br/>

                                                                        <strong><label for="Password">Password</label></strong>
                                                                        <input type="password" class="form-control"
                                                                               th:value="${user.password}" id="Password"
                                                                               name="password">
                                                                        <br/>

                                                                        <strong><label for="Role">Role</label></strong>
                                                                        <select multiple class="custom-select w-100"
                                                                                size="2"
                                                                                id="Role"
                                                                                name="roleName">
                                                                            <option
                                                                                    th:each="role : ${roles}"
                                                                                    th:value="${role.role}"
                                                                                    th:text="${role.getNoPrefix()}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer justify-content-end">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <input type="submit" class="btn btn-primary"
                                                                       value="Edit"/>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <!--Удаление пользователя-->
                                        <td>
                                            <button type="button" class="btn btn-danger"
                                                    data-toggle="modal"
                                                    th:data-target="${'#delete' + user.id}">Delete
                                            </button>

                                            <div class="modal" th:id="${'delete' + user.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                              th:object="${users}" th:method="POST">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit user</h4>
                                                                <button type="button" class="close" data-dismiss="modal">×
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group row justify-content-center text-center">
                                                                    <div class="col-sm-6">

                                                                        <strong><label for="Id1">ID </label></strong>
                                                                        <input type="number" class="form-control"
                                                                               th:value="${user.id}" id="Id1" name="id"
                                                                               readonly>
                                                                        <br/>

                                                                        <strong><label for="Name1">Name</label></strong>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.name}" id="Name1"
                                                                               name="name"
                                                                               readonly>
                                                                        <br/>

                                                                        <strong><label for="Last name1">Lastname</label></strong>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.surname}" id="Last name1"
                                                                               name="surname"
                                                                               readonly>
                                                                        <br/>

                                                                        <strong><label for="Username1">Username</label></strong>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.username}" id="Username1"
                                                                               name="username"
                                                                               readonly>
                                                                        <br/>

                                                                        <strong><label for="Email1">Email</label></strong>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.email}" id="Email1"
                                                                               name="email"
                                                                               readonly>
                                                                        <br/>

                                                                        <strong><label for="Password1">Password</label></strong>
                                                                        <input type="password" class="form-control"
                                                                               th:value="${user.password}" id="Password1"
                                                                               name="password"
                                                                               readonly>
                                                                        <br/>

                                                                        <strong><label for="Role1">Role</label></strong>
                                                                        <select multiple class="custom-select w-100"
                                                                                size="2"
                                                                                id="Role1"
                                                                                name="roleName"
                                                                                readonly>
                                                                            <option
                                                                                    th:each="role : ${roles}"
                                                                                    th:value="${role.role}"
                                                                                    th:text="${role.getNoPrefix()}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer justify-content-end">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <input type="submit" class="btn btn-danger"
                                                                       value="Delete"/>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Конец Таблицы-->
                <!--Блок добавления пользователя-->
                <div class="tab-pane container-fluid" id="new_user" style="display: none">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h5>Add new user</h5></p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white text-center">
                            <br/>
                            <form th:action="@{/admin/new}" th:object="${user}" method="post">

                                <div class="form-group row justify-content-center">
                                    <div class="col-sm-4">
                                        <strong><label for="Name2">Name</label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{name}" id="Name2"
                                               placeholder="User name">

                                        <strong><label for="Last name2">Last name</label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{surname}" id="Last name2"
                                               placeholder="Last name">

                                        <strong><label for="Username2">Username</label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{username}" id="Username2"
                                               placeholder="Username">

                                        <strong><label for="Email2">Email</label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{email}" id="Email2"
                                               placeholder="email">

                                        <strong><label for="Password2">Password</label></strong>
                                        <br/>
                                        <input type="password" class="form-control" th:field="*{password}"
                                               id="Password2" placeholder="Password" required>

                                            <strong><label for="Role2">Role</label></strong>
                                            <select multiple class="custom-select w-100"
                                                    size="2"
                                                    id="Role2"
                                                    name="roleName">
                                                <option
                                                        th:each="role : ${roles}"
                                                        th:value="${role.role}"
                                                        th:text="${role.getNoPrefix()}">
                                                </option>
                                            </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">
                                    Add new user
                                </button>
                                <br/>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Конец блока добавления пользователя-->
            </div>
        </div>
        <!--<Конец блока вкладок таблицы и добавления нового пользователя-->
    </div>
</div>

<!--Конец страницы-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script >
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    function show(shown, hidden) {
        document.getElementById(shown).style.display = 'block';
        document.getElementById(hidden).style.display = 'none';
        return false;
    }
</script>
</body>
</html>