<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>

<body>
<h1>Edit user page</h1>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="surname">Enter name: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <br/>
    <input type="submit" value="Update!"/>
</form>
<br>
<form th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>

</body>
</html>