<!DOCTYPE html>
<html lang="en" xmlns:th="http:/thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>
<h1>User page</h1>
<table border="1">
    <tbody>
    <tr>
        <th th:width="50">UserId</th>
        <th th:width="120">Name</th>
        <th th:width="120">Surname</th>
        <th th:width="120">Username</th>
        <th th:width="150">Email</th>
        <th th:width="150">Password</th>
    </tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
    </tr>
    </tbody>
</table>

<th:block th:each="role: ${user_roles}">
    <input type="checkbox" th:field="*{roles}"
           th:text="${role.name}" th:value="${role.id}" class="m-2" />
</th:block>
</body>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</html>