<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!--Заголовок страницы-->
<div class="col-sm-12 p-2 bg-dark text-white ">
    <a class="font-weight-bold text-white" th:text="${user.email}">Email </a>
    <a> with role:</a>

    <a th:each="role : ${user.getRoles()}">
        <a th:text="${role.getNoPrefix()}">Roles</a>
    </a>
    <a th:href="@{/logout}" class="float-right text-secondary" > Logout </a>
</div>
<!--Конец заголовка-->

<!--Содержимое страницы-->
<div class="container-fluid bg-light">
    <div class="row">

        <!--Кнопка user-->
        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <br/>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>

        <!--User information page-->
        <div class="col-sm-10 bg-light">
            <br>
            <h1>User information page</h1>
            <div class="tab-content">
                <div class="tab-pane table-striped container-fluid active" id="table">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h5>About user</h5></p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white">
                            <br>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <td th:text="${user.getId()}">VALUE</td>
                                    <td th:text="${user.getName()}">VALUE</td>
                                    <td th:text="${user.getSurname()}">VALUE</td>
                                    <td th:text="${user.getUsername()}">VALUE</td>
                                    <td th:text="${user.getEmail()}">VALUE</td>
                                    <td th:text="${user.getPassword()}">VALUE</td>
                                    <td><a th:each="role : ${user.getRoles()}" th:text="${role.getNoPrefix()} + ' '"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Конец страницы-->
</body>
</html>